<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <!--  <add name="ConflitResolutionEx.Properties.Settings.CustomerConnectionString"
            connectionString="Data Source=.;AttachDbFilename=|DataDirectory|\Customer.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" /> -->

      <add name="ConflitResolutionEx.Properties.Settings.CustomerConnectionString" connectionString="Data Source=localhost,1433; Database=Customer; User Id=SI2Student; Password=SI21315_1"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
