<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CS_no_pool" connectionString="Pooling = false;Data Source=.\SQLExpress; Initial Catalog=SI2_VLAB; Integrated Security=SSPI;Persist Security Info=False; "/>
    <add name="CS_oleDB" connectionString="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SI2_VLAB;Data Source=.\SQLExpress"/>
	  <add name="CS_2_1" connectionString="Min Pool Size = 1; Max Pool Size = 2; Connection Timeout = 5; Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SI2_VLAB;Data Source=.\SQLExpress;"/>
    <add name="CS_2_1_10" connectionString="Min Pool Size = 1; Max Pool Size = 2; Connection Timeout = 10; Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SI2_VLAB;Data Source=.\SQLExpress;"/>
	  <add name="CS_3_2_timeout" connectionString="Min Pool Size = 0; Max Pool Size = 3; Connection Timeout = 5; Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=SI2_VLAB;Data Source=.\SQLExpress;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
